@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  background-color: #f1f1f1;
}

main{
  position: relative;
  min-height: 100vh;
}

footer{
  position: absolute;
  bottom: 0;
  padding: 2vh;
  width: 100%;
  color: #fff;
  font-size:x-small;
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* h3{
} */
.Styledh3{
  margin: 1.5rem 0;
}
.Styledh4{
  color: #3c7cc8;
}

.cen {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}


.nav ul{
  display: flex;
  list-style-type: none;
  background-color: rgb(36, 35, 37);
  background-color: #353935;
  color:rgb(241, 239, 243);
  cursor: pointer;
}

.nav ul li{
  padding: 1.5vh;
  position: relative;
  /* transition: color, background 0.5s ; */
}



/* .nav ul :hover{
background: rgb(241, 239, 243);
color: rgb(36, 35, 37);
} */

.underline::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  /* top: 1; */
  bottom: 0;
  height: 4px;
  background: #fff;
  transition: transform 200ms ease-in-out;
  transform: scale(0);
}

.underline:hover::before,
.underline:focus::before{
  transform: scaleX(1);
   
}




.header{
  margin: 0 auto;
}

.section{
  width: 65%;
  margin: 3rem auto;
  border-radius: 5px;
  text-align: center;
  padding: 2rem;
  min-height: 70vh; 
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  background: #fff;
}

.form{
  border: dotted;
  margin: 4rem auto;
  width: 70%;
  padding: 10px;
}

.form input{
  border-radius: 10px;
  line-height: 30px;
  margin: 10px 0;
  border: 1px solid rgba(0,0,0,.15);
  padding: 0 10px;
  letter-spacing: 0.5px;
  background: #FFFAF0;
}

.form input:focus-visible{
border: rgb(92, 179, 253);
}

button {
  color: #D8D8D8;
  background-color: #292929;
  margin: 1rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 7px;
}

button:hover{
  background-color: #313131;
}


.error-text{
  color: red;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0.4 rem;
  font-weight: lighter;
} 

.active{
  background: black;
}

.paper{
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 70vh;
  text-align: center;
}

.paper ul li{
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 4%;
}

.paper p{
  margin: 2vh;
  font-size: x-small;
}

.offerDetails ul{
  line-height: 2px;
}

.choiceBackground{
 padding-top: 2rem;
  /* background-color: rgb(11, 11, 17); */
  /* background-color: #111; */
  /* background: url("https://live.staticflickr.com/2377/2451433325_cc299ef845_b.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size:contain; */
  /* background-image: url('/public/images/pic1.jpg'); */
}

.summary{
  text-align: left;
}

.offerImage{
  display: inline-flex; 
}

.offerImage img{
  margin-left: 2.5rem;
}




.unselectedChannel{
  transition: background 50ms;
}

.unselectedChannel:hover{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border-color: #2a6fbe;
}

.unselectedChannel:active{
  border-color: #2a6fbe;
  background:#b5d4f8;
  border-width: 1.5px;
}


.selectedChannel{
  border-color: #2a6fbe;
  background: #dbe6f0;
  transition: background 50ms;
}

.selectedChannel:hover{
  border-color: #2a6fbe;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background:#b5d4f8
}

.selectedChannel:active{
  border-color: #2a6fbe;
  border-width: 1.5px;
  background:#b5d4f8  
}